/*
Colors:
    Purple: #9900D6
    Teal: #008282
    Cream: #FEF9E6
*/

body {
    padding-top: 2em;
    background: #008282 linear-gradient(to bottom, #008282, #9900D6);
    margin: 0;
}

div#wedding_information > table {

}

section#rsvp > form {

}

h1 {
    margin: 1em auto;
    width: 100%;
    text-align: center;
    color: #FEF9E6;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #222222;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

nav > ul {
    display: table;
    list-style-type: none;
    margin: auto;
    padding: 0;
}

nav > ul > li {
    vertical-align: top;
    display: table-cell;
    margin: 0 auto;
}

nav > ul > li > a {
    display: block;
    text-align: center;
    height: 100%;
    padding: 1em;
    margin: auto;
    color: #FEF9E6;
    text-decoration: none;
}

nav > ul > li > a:hover{
    background-color: #FEF9E6;
    color: #222222
}

div.information {
    width: 50vw;
    margin: 0 auto;

    padding: 1em;

    background-color: #FEF9E6;
    border-radius: 0.5em;
    border: 0.15em solid #9900D6;
}

section#rsvp-section {
    padding-bottom: 4em;
}

span.navbar-padding {
    position: relative;
    top: -200px;
}

img {
    max-width: 80vw;
    max-height: 100%;
}

ul#photo-list{
    list-style: none;
    margin: 0 auto;
    text-align: center;
    padding: 0;
}

ul#photo-list > li {
    display: inline-block;
    padding-top: 1em;
    padding-bottom: 1em;
}

div#back{
    position: fixed;
    bottom: 0;
    background-color: #FFFEEE;
    width: 10%;
    text-align: center;
    padding: 0;
}

.rsvp-form {
    max-width: 400px;
    margin: 50px auto;
    background: #FEF9E6;
    border-radius: 2px;
    padding: 20px;
    font-family: Georgia, "Times New Roman", Times, serif;
}

.rsvp-form h1 {
    display: block;
    text-align: center;
    padding: 0;
    margin: 0 0 20px 0;
    color: #5C5C5C;
    font-size: x-large;
}

.rsvp-form ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.rsvp-form li {
    display: block;
    padding: 9px;
    border: 1px solid #505050;
    margin-bottom: 30px;
    border-radius: 3px;
}

.rsvp-form li:last-child {
    border: none;
    margin-bottom: 0;
    text-align: center;
}

.rsvp-form li > label {
    display: block;
    float: left;
    margin-top: -19px;
    background: #FEF9E6;
    height: 14px;
    padding: 2px 5px 2px 5px;
    color: #505050;
    font-size: 14px;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.rsvp-form input[type="text"],
.rsvp-form input[type="date"],
.rsvp-form input[type="datetime"],
.rsvp-form input[type="email"],
.rsvp-form input[type="number"],
.rsvp-form input[type="search"],
.rsvp-form input[type="time"],
.rsvp-form input[type="url"],
.rsvp-form input[type="password"],
.rsvp-form textarea,
.rsvp-form select {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    display: block;
    outline: none;
    border: 1px solid #505050;
    border-bottom: none;
    height: 25px;
    line-height: 25px;
    font-size: 16px;
    padding: 1px;
    font-family: Georgia, "Times New Roman", Times, serif;
}

.rsvp-form input[type="text"]:focus,
.rsvp-form input[type="date"]:focus,
.rsvp-form input[type="datetime"]:focus,
.rsvp-form input[type="email"]:focus,
.rsvp-form input[type="number"]:focus,
.rsvp-form input[type="search"]:focus,
.rsvp-form input[type="time"]:focus,
.rsvp-form input[type="url"]:focus,
.rsvp-form input[type="password"]:focus,
.rsvp-form textarea:focus,
.rsvp-form select:focus {
    border: 1px solid #35dfff;
    border-bottom: none;
}

.rsvp-form input[type=checkbox] {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    display: block;
    outline: none;
    border: none;
    height: 25px;
    line-height: 25px;
    font-size: 16px;
    padding: 0;
}

.rsvp-form li > span {
    background: #505050;
    display: block;
    padding: 3px;
    margin: 0 -9px -9px -9px;
    text-align: center;
    color: #FEF9E6;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}

.rsvp-form textarea {
    resize: none;
}

.rsvp-form input[type="submit"],
.rsvp-form input[type="button"] {
    background: #2471FF;
    border: none;
    padding: 10px 20px 10px 20px;
    border-bottom: 3px solid #5994FF;
    border-radius: 3px;
    color: #D2E2FF;
}

.rsvp-form input[type="submit"]:hover,
.rsvp-form input[type="button"]:hover {
    background: #6B9FFF;
    color: #fff;
}

#success_message {
    width: 100%;
    margin: 0 auto;
    color: #008282;
    text-align: center;
    font-size: 2rem;
}